[Unit]
Description=Battery, Wi-Fi and sound volume overlay indicators
After=rc-local.service

[Service]
Type=simple
ExecStartPre=/bin/setserial /dev/ttyACM0 closing_wait none
ExecStartPre=/bin/sh -c '[ -d /sys/class/gpio/gpio22 ] || echo 22 > /sys/class/gpio/export'
ExecStartPre=/usr/bin/pigs pud 22 o
ExecStart=/usr/local/bin/gamepod-overlay -w wlan0 -c /sys/class/gpio/gpio22/value /dev/ttyACM0
Restart=on-failure

[Install]
WantedBy=multi-user.target

